body{
 border:0;
 margin:0;
}
.int{margin:auto;
    width:1000px;
    height:600px;
}
.google{
    margin:auto;
    width:1000px;
    height:300px;
}
.google img{
    position:absolute;
    width:270px;
    height:90px;   
    margin-top:12%;
    margin-left:25%;
}
input{
    position:absolute;
    top:50%;
    left:30%;
    width:32%;
    height:45px;
    border:1px;
    border-radius:50px;
    box-shadow:1px 1px 5px gray;

}
a{
    text-decoration:none;
    position:fixed;
    right:25px;
    bottom:20px;
    width:120px;
    height:30px;
    border:1px;
    border-radius:15px;
    box-shadow:1px 1px 5px gray;

}
p{
    position:fixed;
    right:45px;
    bottom:10px;
    color:rgb(11, 129, 184);
}
@media only screen and (max-width:500px){
    .int{
        width:500px;
        height:300px;
      
    }
    .google{
        width:500px;
        height:150px;
    }
}