.corpo{
    background-color: aqua;
    width:1360px;
    height:100vh;
}
.centro{
    max-width:1200px;
    margin: auto;
    background-color: darkgoldenrod;
}
.area-1{
    background-color: beige;
    display:flex;
}
.topo{
    background-color: brown;
    width: 100px;
}
.menu{
    background-color: chartreuse;
    flex: 1;
}
li{ 
    color:blue;
}
.banner{
    background-color:burlywood;
    width:88vw;
    height:100vh;
    background-image: url(/images/carol.JPG);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
}
.teste-imagem{
    
}